@import 'base/_variables'
* 
    margin: 0
    padding: 0  
    box-sizing: border-box
@import 'blocks/_nav'
@import 'blocks/_burger'
@import 'blocks/_button'
@import 'blocks/_promo'
@import 'blocks/_footer'
@import 'blocks/_news'
@import 'blocks/_grid'
h1
    margin: 0
    font-size: 28px
    margin-left: 60px

.container_between
    display: flex
    justify-content: space-between

