@import 'base/_variables'
*
    margin: 0
    padding: 0  
    box-sizing: border-box
    font-family: PTSans
@import 'blocks/_nav'
@import 'blocks/_burger'
@import 'blocks/_button'
@import 'blocks/_promo'
@import 'blocks/_footer'
@import 'blocks/_news'
@import 'blocks/_grid'
@import 'blocks/_achievements'
@import 'blocks/_forms'
h1
    margin: 0
    font-size: 22px
    font-weight: 700
.container_between
    display: flex
    justify-content: space-between
@import 'blocks/_media'
