footer 
    background: rgb(240, 240, 240)
    padding: 20px 0
    font-family: PTSans
    margin-top: 50px

.footer-section 
    margin-bottom: 20px

.footer-section h3 
    margin-bottom: 10px
    color: #343a40

.footer-section p 
    margin: 5px 0
    color: #6c757d

.footer-section a 
    color: #007bff
    text-decoration: none

.footer-section a:hover 
    text-decoration: underline

.footer
    &__links
        display: flex
        justify-content: space-between
        &__wrap
            display: flex
            align-items: center
            justify-content: space-between
            width: 45%
            margin-left: 40px
        &_btn
            margin-right: 100px
            button
                height: 60px
                width: 200px
                color: rgb(100, 100, 100)
                font-weight: 700
                font-size: 16px
                border: 1px solid rgb(100, 100, 100)
                transition: all 0.3s
                // font-family: Merriweather
                &:hover
                    background-color: $beige
                    border: 1px solid $beige
                    color: white
    &__line
        width: 100%
        border-top: 1px solid rgb(200, 200, 200)
        margin-top: 10px
        border-radius: 100%
            
            
    &_link
        text-decoration: none
        color: rgb(100, 100, 100)
        // font-family: Merriweather
        font-weight: 700
        font-size: $mid_font
        transition: all 0.3s
        position: relative
        &:after
            content: ""
            position: absolute
            bottom: 0
            display: block
            width: 0
            height: 2px
            background-color: rgb(100, 100, 100)
            transition: .3s
            left: 50%
            transform: translate(-50%)
        &:hover
            color: rgb(40, 40, 40)
            &:after
                width: 100%

    &__contacts
        display: flex
        justify-content: center
        margin-top: 40px
        .footer-section
            width: 50%
            h3
                // font-family: Merriweather
                font-size: $mid_font
                color: rgb(100, 100, 100)
            p
                font-size: $lit_font
                a
                    color: black
                    font-weight: 300
                    position: relative
                    text-decoration: none
                    &:after
                        content: ""
                        position: absolute
                        bottom: 0
                        display: block
                        width: 0
                        height: 2px
                        background-color: rgb(100, 100, 100)
                        transition: .3s
                        left: 50%
                        transform: translate(-50%)
                    &:hover
                        color: rgb(40, 40, 40)
                        &:after
                            width: 100% 


    

    
        