.grid
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 260px), 1fr))
  column-gap: 30px 
  row-gap: 30px
  padding: 20px 0 0 0 

.grid-item
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2)
  transition: box-shadow .3s
  width: 100%
  height: 100%
  border-radius: 8px
  overflow: hidden

  .image
    height: 200px
    overflow: hidden

  .info
    position: relative
    height: calc(100% - 200px)
    padding: 16px 14px 70px 14px

  &:hover
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2)

  .image img
    transition: transform 280ms ease-in-out
    display: block
    width: 100%
    height: 100%
    object-fit: cover

  &:hover .image img
    transform: scale(1.1)

.info h2
  color: $beige
  font-size: $lit_font
  font-weight: normal
  margin: 0
  text-align: center

.info-text p
  margin-top: 10px
  font-size: 18px
  line-height: 20px
  margin-bottom: 10px
  text-align: center
  &:last-child
    margin-bottom: 0

.grid-item .button-wrap
  display: block
  width: 100%
  position: absolute
  bottom: 14px
  left: 0
  text-align: center

/* Кнопка подробнее

.atuin-btn
  display: inline-flex
  text-decoration: none
  position: relative
  font-size: 16px
  line-height: 20px
  padding: 8px 30px
  color: #FFF
  font-weight: bold
  text-transform: uppercase
  background: $beige
  cursor: pointer
  border: 2px solid #BFE2FF
  border-radius: 8px

  &:hover, &:active, &:focus
    color: #FFF

  &:after
    position: absolute
    height: 4px
    left: 50%
    background: $beige
    bottom: -6px
    content: ""
    transition: all 280ms ease-in-out
    width: 0

  &:before
    position: absolute
    height: 4px
    left: 50%
    background: $beige
    bottom: -6px
    content: ""
    transition: all 280ms ease-in-out
    width: 0
    top: -6px

  &:hover
    &:after, &:before
      width: 100%
      left: 0

  &:active
    &:after, &:before
      width: 100%
      left: 0

  &:focus
    &:after, &:before
      width: 100%
      left: 0
