@media (max-width: 1400px) 
    .about_fond
        &__wrap
            padding-left: 100px
            &er
                &__text
                    padding: 0 100px 0 100px
    .files__wrap
        grid-template-columns: repeat(3, 1fr)

@media (max-width: 1200px) 
    .about_fond
        &__wrap
            padding-left: 50px
            &er
                &__text
                    padding: 0 20px 0 50px

@media (max-width: 991px)
    h1
        font-size: 20px
        font-weight: 700
    .nav-links
        width: 300px
        &_link
            font-size: 15px
            padding-right: 33px
            &:nth-last-child(-n+1)
                padding-right: 0px
        &__sub
            left: 15%
            font-size: 15px
            width: 180px

    .nav__items
        &:nth-last-child(-n+1)
            width: 370px
    .achievements
        &__wraper
            &_item
                width: 32%
    .about_fond
        &__wrap
            padding-left: 0px
            &er
                &_img
                    img
                        width: 300px
                &__text
                    padding-left: 20px
                &_descr
                    font-size: 17px 
        &__btn
            margin-left: 90px
    .files__wrap
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 260px), 1fr))

    .promo__header_title
        width: 120px
        &_width
            width: 350px
    

@media (max-width: 776px)
    .nav-links
        width: 250px    
        &__sub
            left: 94%
            top: 60px
            font-size: 15px
            width: 180px
            &menu
                margin-top: 0px
                margin-left: 20px   
    .achievements
        &__wraper
            &_item
                width: 30%
            &_title
                font-size: 20px
            &_descr
                font-size: 14px   
    .about_fond
        &__wrap
            padding-left: 0px
            display: block
            &er
                &_img
                    display: flex
                    justify-content: center
                    img
                        width: 300px
                &__text
                    padding-left: 20px
                    
                &_descr
                    margin-top: 20px
                    font-size: 17px 
        &__btn
            display: block
            margin: 15px auto   
    .files__wrap_link
        display: block
        margin: 0 auto  
    
@media (max-width: 575px)
    .header
        min-height: 55px
    nav
        min-height: 70px
    .nav__items
        &:nth-last-child(-n+1)
            width: 200px
            justify-content: end
            button
                display: none
    .promo
        &__header
            min-height: 400px
    .promo__button_wrap
        display: flex
        justify-content: center
    
    .achievements
        &__wraper
            flex-direction: column
            margin-top: 20px
            &_item                
                width: 100%
                margin: 0 auto
                margin-top: 20px
            &_title
                font-size: 20px
            &_descr
                margin-top: 10px
                font-size: 14px  
    .nav-links__sub
        position: static
        display: flex
        width: 100%
        &menu
            width: 100%
            margin: 0 auto
            box-shadow: none
            a
                padding: 12px 12px
                &:nth-of-type(1)
                    padding-top: 12px
                &:nth-last-child(1)
                    border-bottom: 2px solid rgba(0, 0, 0, 0.1)
    .nav-links
        &_link_critism
            position: absolute
            display: flex
            justify-content: center
            align-items: center
            width: 30px 
            height: 30px
            top: 69px
            left: 165px
            border-radius: 100%
            border: 1px solid rgb(140, 140, 140)
            &_active 
                background-color: rgb(180, 180, 180)
            i
                font-size: 22px
                color: rgb(100, 100, 100)
        &__sub
            height: 0
            -webkit-transition: 0.5s ease-in-out
            -moz-transition: 0.5s ease-in-out
            -o-transition: 0.5s ease-in-out
            transition: 0.5s ease-in-out
            -webkit-transform: scaleY(0)
            -ms-transform: scaleY(0)
            transform: scaleY(0)
            -webkit-transform-origin: 0 0
            -ms-transform-origin: 0 0
            transform-origin: 0 0
            &_active
                height: 147px
                -webkit-transform: scaleY(1)
                -ms-transform: scaleY(1)
                transform: scaleY(1)
        &__submenu
            -webkit-transition: 0.5s ease-in-out
            -moz-transition: 0.5s ease-in-out
            -o-transition: 0.5s ease-in-out
            transition: 0.5s ease-in-out
            -webkit-transform: scaleY(0)
            -ms-transform: scaleY(0)
            transform: scaleY(0)
            -webkit-transform-origin: 0 0
            -ms-transform-origin: 0 0
            transform-origin: 0 0
            &_active
                -webkit-transform: scaleY(1)
                -ms-transform: scaleY(1)
                transform: scaleY(1)


                    
                    