.header
    position: relative
    min-height: calc( $heigth_header - 15px )
    
    
nav
    position: fixed
    width: 100%
    background: white
    display: flex
    justify-content: space-between
    min-height: $heigth_header
    align-items: center
    transition: all 0.3s
.nav
    &__items
        display: flex
        justify-items: center
        align-items: center
        &:nth-last-child(-n+1)
            width: 400px
            justify-content: space-between

    &__wrap
        display: flex
        justify-content: space-between
    &-links
        display: flex 
        justify-content: space-between 
        margin: 0 
        list-style-type: none 
        width: 370px
        &_link
            font-weight: 700 
            font-size: 16px 
            align-items: center 
            color: rgb(50, 50, 50)
            transition: all 0.3s
            text-decoration: none
            border-right: 2px solid rgba(140, 140, 140, 0.6) 
            padding-right: 45px 
            &:nth-last-child(-n + 1)
                border-right: 0px none
                padding-right: 0px
            &:hover,
            &:focus
                transform: translateY(-0.05em)
        &__submenu
            position: absolute
            display: none
            margin-top: 50px
            top: 0px
            left: 21%
            height: 60
            width: 200px
            border-radius: 10px
            background-color: white
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2)
            flex-direction: column
            justify-content: space-between
            overflow: hidden
            animation: closeMenu 300ms ease-in-out forwards
            a
                padding: 12px 24px
                margin: 0 16px
                color: black
                border-bottom: 2px solid rgba(0, 0, 0, 0.1)
                text-decoration: none
                text-align: center
                transition: filter 200ms linear 0s
                &:nth-last-child(1)
                    border-bottom: none
                    padding: 12px 0px
                &:nth-of-type(1)
                    padding-top: 24px
                &:hover
                    filter: brightness(200%)
            &:hover
                display: flex
            
                
        

@media (max-width: 776px)
    .nav
        &-links
            position: absolute
            top: $heigth_header
            display: flex
            -webkit-transition: 0.5s ease-in-out
            -moz-transition: 0.5s ease-in-out
            -o-transition: 0.5s ease-in-out
            transition: 0.5s ease-in-out
            -webkit-transform: scaleY(0)
            -ms-transform: scaleY(0)
            transform: scaleY(0)
            -webkit-transform-origin: 0 0
            -ms-transform-origin: 0 0
            transform-origin: 0 0
            &__active
                -webkit-transform: scaleY(1)
                -ms-transform: scaleY(1)
                transform: scaleY(1)
                
            &_link
                border: none
                &:hover,
                &:focus
                    transform: translateY(0em)
            
                    


    .nav-links
        height: 60
        width: fit-content
        border-radius: 10px
        background-color: white
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2)
        flex-direction: column
        justify-content: space-between
        overflow: hidden
        animation: closeMenu 300ms ease-in-out forwards
        a
            padding: 12px 24px
            margin: 0 16px
            color: black
            border-bottom: 2px solid rgba(0, 0, 0, 0.1)
            text-decoration: none
            text-align: center
            transition: filter 200ms linear 0s
            &:nth-last-child(1)
                border-bottom: none
                padding: 12px 0px
            &:nth-of-type(1)
                padding-top: 24px
            &:hover
                filter: brightness(200%)



