.news
    padding-top: 30px
    &__btn
        display: block
        margin: 0px auto
        margin-top: 30px
        border: 1px solid
        transition: background-color 0.3s ease
        width: 150px
        // color: black
        // &:hover
        //     background-color: rgb(240, 240, 240)
        //     transform: translateY(0em)
        //     color: black
    h2
        // font-family: Merriweather
        font-size: $lit_font
        margin-left: 30px
        margin-bottom: 10px
    &__pages
        margin-top: 30px
        display: flex
        justify-content: center
        &__links
            .news__pages__link
                display: inline-block
                height: 50px
                width: 50px
                font-family: PTSans
                font-size: 20px
                font-weight: 700
                color: $beige
                text-decoration: none
                margin-right: 15px
                border: 1px solid white
                border-radius: 100%
                text-align: center
                line-height: 46px
                transition: all 0.3s
                &:hover
                    // background-color: $beige
                    // color: white
                    border: 1px solid $beige
                &:nth-last-child(-n+1)
                    border: none
                    &:hover
                        background-color: white
                        color: $beige
                    margin-right: 0
                &:nth-child(1)
                    border: none
                    &:hover
                        background-color: white
                        color: $beige
                &_active
                    background-color: $beige
                    color: white
                
        