.promo
    // background-color: $beige
    background: url('../images/bg/bg.jpg') center center/cover no-repeat
    &_about
        margin-bottom: 0px
    &__mb40
        margin-bottom: -40px
    &__header
        min-height: 500px
        display: flex
        flex-direction: column
        justify-content: center
        &_about
            min-height: 450px
        &_title
            display: flex
            color: white
            background-color: rgba(87, 205, 255, 0.7)
            padding: 10px
            width: 200px
            &_width
                width: 610px
.promo__button_wrap
    display: none