.promo
    background-color: $beige
    &__header
        min-height: calc( 100vh - $heigth_header - $heigth_footer )
        display: flex
        flex-direction: column
        justify-content: center
