.promo
    background-color: $beige
    margin-bottom: -40px
    &_about
        margin-bottom: 0px
    &__header
        min-height: 500px
        display: flex
        flex-direction: column
        justify-content: center
        &_about
            min-height: 450px

.promo__button_wrap
    display: none